// Place all the styles related to the friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


body.aboutpage { 
  background-image: image-url('spaceccraft.jpg'); 
}

body.friendpage { 
  background-image: image-url('moon.jpg'); 
}

body.friendpage2 {

  background-image: image-url('spaceccraft5.jpg'); 
 
}

body.signuppage { 
  background-image: image-url('spaceccraft2.jpg'); 
}

body.loginpage { 
  background-image: image-url('spaceccraft3.jpg'); 
}

body.forgotpage { 
  background-image: image-url('spaceccraft4.jpg'); 
 
}

body.addfriendpage { 
  background-image: image-url('planetinfo.jpg'); 
 
}

body.editfriendpage { 
  background-image: image-url('spaceccraft6.jpg'); 
 
}

body.showpage { 
  background-image: image-url('mars.jpg'); 
 
}

body.editprofilepage { 
  background-image: image-url('spaceccraft7.jpg'); 
 
}

body.editprofilepage { 
  background-image: image-url('spaceccraft7.jpg'); 
 
}

body.searchpage { 
  background-image: image-url('gaintplanet.jpg'); 
 
}



